part1/__pycache__/dataset.cpython-311.pyc
part1/__pycache__/eval.cpython-311.pyc
part1/__pycache__/utils.cpython-311.pyc
part1/__pycache__/utils.cpython-313.pyc
part1/acache/norm_results.pkl
part1/acache/unadapted_results.pkl
part1/__pycache__/eval.cpython-311.pyc
part1/__pycache__/utils.cpython-311.pyc
part1/tta/__pycache__/__init__.cpython-311.pyc
part1/tta/__pycache__/__init__.cpython-313.pyc
part1/tta/__pycache__/base.cpython-311.pyc
part1/tta/__pycache__/base.cpython-313.pyc
part1/tta/__pycache__/norm.cpython-311.pyc
part1/tta/__pycache__/norm.cpython-313.pyc
part1/tta/__pycache__/submission.cpython-311.pyc
part1/tta/__pycache__/submission.cpython-313.pyc
part1/tta/__pycache__/unadapted.cpython-311.pyc
part1/tta/__pycache__/unadapted.cpython-313.pyc
part1/.cache/*

