tta:
  name: submission_debug
  class_path: tta.submission.Submission
  args:
    steps: 1
    episodic: true
    optim: Adam
    lr: 1e-3
    beta: 0.9
    weight_decay: 0.0
    reset_stats: false
    no_stats: true
    clip_norm: 1.0
    debug: true
